<h2>【サポート求人とは？】</h2>
<p>職業紹介事業に基づく人材紹介求人です。
  こちらは、企業様より詳細な応募基準を頂いており、ご紹介出来る場合にのみ、当社より求人の詳細を個別にご連絡をさせていただいております。その為、社名は基本的に非公開となっています。
  ※一部、社名を公開していますが、応募ができない求人があります。その場合は、お問い合わせください。
  ※ご経験やご希望内容、求人状況によっては、当社で求人をご紹介できない場合があります。
  　またすぐにご紹介できる求人が無い場合は、転職支援サービスのご提供が難しい場合もございます。あらかじめご了承ください。</p>